/.env/
/alldbs/
/venv/
/deletes.db
/botmain.db
/voice.db
/warns.db
/webdom.db
/mbanlist.csv
/deletes.log
/filterbot.log
/hottiesbot.log
/videos/
/cogs/scraper.py
/cogs/voice.py
/cogs/materias.py
/cogs/eventos.py
/cogs/
/.idea/
